# Python
__pycache__/
*.pyc

# Virtual environment
fasapienv/

# Environment variables
.env

# VS Code
.vscode/

# Frontend dependencies
frontend/node_modules/

# Build files
frontend/dist/
frontend/build/